.PostitLink {
    text-decoration: none;
    height: 80vw;
    max-height: 320px;
    width: 80vw;
    max-width: 320px;
    background-size: cover;
    color: black;
    padding: 17%;
    box-sizing: border-box;
}

.PostitLink h5{
    font-size: 130%;
    font-weight: 500;
    margin: 0;
}

.PostitLink p{
    font-size: 120%;
    margin: 0;
}

@media (min-width: 400px) {
    .PostitLink {
        padding: 65px;
    }
}

@media (min-width: 576px) {
    .PostitLink {
        height: 45vw;
        width: 45vw;
        padding: 9%;
    }
}

@media (min-width: 720px) {
    .PostitLink {
        height: 30vw;
        width: 30vw;
        padding: 6% 6%;
    }
    .PostitLink h5{
        font-size: 125%;
    }
}

@media (min-width: 992px) {
    .PostitLink {
        padding: 65px;
    }
    .PostitLink h5{
        font-size: 25px;
    }
    .PostitLink p{
        font-size: 20px;
    }
}

.postit-1 {
    background-image: url(../../../assets/postits/postit-1.png);
}

.postit-2 {
    background-image: url(../../../assets/postits/postit-2.png);
}

.postit-3 {
    background-image: url(../../../assets/postits/postit-3.png);
}

.postit-4 {
    background-image: url(../../../assets/postits/postit-4.png);
}

.postit-5 {
    background-image: url(../../../assets/postits/postit-5.png);
}

.postit-6 {
    background-image: url(../../../assets/postits/postit-6.png);
}

.postit-7 {
    background-image: url(../../../assets/postits/postit-7.png);
}

.postit-8 {
    background-image: url(../../../assets/postits/postit-8.png);
}
