.ProfileDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.ProfileDiv span {
    padding-top: 5px;
    font-size: 140%;
}

.ProfilePicDiv {
    height: 40vw;
    max-height: 153px;
    width: 40vw;
    max-width: 153px;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0 5px;
}

.Selected {
    border: 5px solid #7d2ae8;
    box-shadow: 0 0 3pt 2pt #b088e6;
    border-radius: 50px;
}

@media (min-width:576px) {
    .ProfilePicDiv {
        height: 20vw;
        max-height: 180px;
        width: 20vw;
        max-width: 180px;
    }
}

.monster-1 {
    background-image: url(../../../assets/icons/monster-1.png);
}

.monster-2 {
    background-image: url(../../../assets/icons/monster-2.png);
}

.monster-3 {
    background-image: url(../../../assets/icons/monster-3.png);
}

.monster-4 {
    background-image: url(../../../assets/icons/monster-4.png);
}

.monster-5 {
    background-image: url(../../../assets/icons/monster-5.png);
}

.monster-6 {
    background-image: url(../../../assets/icons/monster-6.png);
}

.monster-7 {
    background-image: url(../../../assets/icons/monster-7.png);
}

.monster-8 {
    background-image: url(../../../assets/icons/monster-1.png);
}
