.SiteHeader {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2px 15px 0 15px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.5);
    position: fixed;
}


.ButtonDiv {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Logo {
    height: 100%;
    padding-left: 20px;
}

.Logo img {
    height: 100%;
}

.SiteTitle {
    font-size: 40px;
}

@media (max-width: 720px) {
    .SiteTitle {
        display: none;
    }
}